$my-ft-color: #fb6491;
$my-footer: rgb(22, 5, 34);
$my-f-vr : 'Varela Round';
$my-f-vag :'VAGRoundedBlackSSiBold';
$my-f-GPro : 'GothamPro';
$my-f-GPro-Light : 'GothamPro-Light';
$my-f-GPro-Bold : 'GothamPro-Bold';
$my-f-GPro-Medium : 'GothamPro-Medium';